@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin 'daisyui' {
  themes: pastel --default;
}

/* Custom container style */
.container {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 1rem;
}